## =============================================================================
## User defined timing groups
## =============================================================================
TIMESPEC "TS_SystemClock"					= PERIOD "NET_SystemClock_200MHz"		200 MHz	HIGH 50 %;		# 100 MHz oscillator (50%/50% duty-cycle)


# ===================================================================
# CrossClock paths			(maximum delay is period of fastest clock)
# ===================================================================
