# Schematic name: CLK100MHZ
NET "sys_clk_i" TNM_NET = TNM_sys_clk | LOC = E3 | IOSTANDARD = LVCMOS33;
TIMESPEC "TS_sys_clk" = PERIOD "TNM_sys_clk" 10 ns;

NET "led<7>" LOC = "U16" | IOSTANDARD = LVCMOS33;
NET "led<6>" LOC = "U17" | IOSTANDARD = LVCMOS33;
NET "led<5>" LOC = "V17" | IOSTANDARD = LVCMOS33;
NET "led<4>" LOC = "R18" | IOSTANDARD = LVCMOS33;
NET "led<3>" LOC = "N14" | IOSTANDARD = LVCMOS33;
NET "led<2>" LOC = "J13" | IOSTANDARD = LVCMOS33;
NET "led<1>" LOC = "K15" | IOSTANDARD = LVCMOS33;
NET "led<0>" LOC = "H17" | IOSTANDARD = LVCMOS33;
